<<<<<<< HEAD
=======
/* Стиль контейнера фільтра */
>>>>>>> c2f81cf2fba6fa797ea8c6254bc466ea0dbe312b
.filter-container {
    position: relative;
    display: inline-block;
}

<<<<<<< HEAD
=======
/* Стиль кнопки */
>>>>>>> c2f81cf2fba6fa797ea8c6254bc466ea0dbe312b
.filter-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 16px;
}

<<<<<<< HEAD
.dropdown {
    position: absolute;
    top: 100%;
=======
/* Стиль модального вікна як випадаючого вікна */
.dropdown {
    position: absolute;
    top: 100%; /* Відображення відразу під кнопкою */
>>>>>>> c2f81cf2fba6fa797ea8c6254bc466ea0dbe312b
    left: 0;
    z-index: 1;
    width: 400px;
    margin-top: 5px;
}

.dropdown-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стиль календаря */
.calendar {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.calendar div {
    display: flex;
    align-items: center;
    gap: 2px; /* Smaller gap between radio button and label */
    margin-bottom: 10px;
    width: fit-content; /* Prevents div from taking full width */
}

.calendar label {
    color: #333;
    font-weight: normal;
    margin-left: 2px; /* Fine-tunes spacing from the radio button */
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Стилі для полів введення дати */
.date-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.date-inputs label {
    font-size: 14px;
    color: #333;
    margin-right: 5px;
}

.date-inputs input {
    padding: 8px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
