.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 20px 40px;
    font-size: 20px;
  }

  .navbar-logo {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }
  
  .navbar-logo img {
    height: 60px; 
  }
  .navbar-logo h2{
    color: white;
    margin-top: 10px;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #ccc;
  }
  
  .user-info {
    position: relative; /* Батьківський контейнер для абсолютного меню */
    display: flex;
    flex-direction: row; /* Розташування аватару та імені вертикально */
    align-items: center;
    cursor: pointer;
}

.user-header {
    display: flex;
    flex-direction: row; /* Ім'я користувача під аватаром */
    align-items: center;
}

.user-logo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

.user-logo img { /* Аватар користувача */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    font-size: 14px;
    margin-top: 8px;
    color: #333;
    text-align: center;
}

.dropdown-menu1 {
    position: absolute; /* Абсолютне позиціонування */
    top: 100%; /* Розташування під ім'ям */
    left: 50%; /* Вирівнювання по центру */
    transform: translateX(-50%); /* Центрування */
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    list-style: none;
    z-index: 1000;
    width: max-content; /* Автоматична ширина відповідно до вмісту */
    min-width: 120px; /* Мінімальна ширина меню */
}

.dropdown-menu1 li {
    padding: 8px 16px;
    text-align: center;
}

.dropdown-menu1 li:hover {
    background-color: #858585;
}
.logout-button { /* Кнопка виходу */
    color: white; /* Цвет тексту */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Падінги */
    border-radius: 4px; /* Центральний колір */
    cursor: pointer; /* Підтримка курсора */
    text-decoration: none; /* Без посилання */
}
.dropdown-menu1 button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu1 button:hover {
    color: #000;
}
